body {

font-family: Arial;
margin: 0;
background: #f4f4f4;

}

header {

background: #0077cc;
color: white;
text-align: center;
padding: 20px;

}

.profile {

width: 120px;
border-radius: 50%;

}

section {

padding: 20px;

}

h2 {

color: #0077cc;

}

.card {

background: white;
padding: 15px;
margin: 10px 0;
border-radius: 8px;

}

.certificate-grid {

display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;

}

.certificate-grid img {

width: 100%;
cursor: pointer;
border-radius: 6px;

}

#modal {

display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);

}

#modal img {

display: block;
margin: auto;
max-width: 90%;
margin-top: 5%;

}

button {

padding: 10px;
background: #0077cc;
color: white;
border: none;
border-radius: 5px;

}
